<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form action="" method="post">
    {% csrf_token %}
        {{ form.non_field_errors }}
        <div>
            {{ form.name.errors }}
            <label>Name: </label>
            {{ form.name }}
        </div>
        <div>
            {{ form.last_name.errors }}
            <label>Last name: </label>
            {{ form.last_name }}
        </div>
        <div>
            {{ form.phone.errors }}
            <label>Phone: </label>
            {{ form.phone }}
        </div>
        <p><input type="submit" value="Додати" /></p>
    </form>
</body>
</html>