{% extends "base.html" %}

{% block title %}New person{% endblock %}

{% block content %}
    <h2>New person</h2>
    <form method="post">
    {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
            {{ form.name.errors }}
            <label>Name: </label>
            {{ form.name }}
        </div>
        <div class="form-group">
            {{ form.last_name.errors }}
            <label>Last name: </label>
            {{ form.last_name }}
        </div>
        <div class="form-group">
            {{ form.phone.errors }}
            <label>Phone: </label>
            {{ form.phone }}
        </div>
        <p><input type="submit" class="btn btn-default" value="Save" /></p>
    </form>

{% endblock %}