{% extends "base.html" %}

{% block title %}New person{% endblock %}

{% block content %}
    <h2>View person</h2>
    <div class="row">
        <div class="span3">
            <form action="{% url 'update_person' person.id %}" method="post" name="update">
            {% csrf_token %}
                {{ form.non_field_errors }}
                <div>
                    {{ form.name.errors }}
                    <label>Name: </label>
                    {{ form.name }}
                </div>
                <div>
                    {{ form.last_name.errors }}
                    <label>Last name: </label>
                    {{ form.last_name }}
                </div>
                <div>
                    {{ form.phone.errors }}
                    <label>Phone: </label>
                    {{ form.phone }}
                </div>
                <p>
                    <input type="submit" class="btn btn-default" value="Save" />
                    <a class="pull-right" href="{% url 'delete_person' person.id %}">Delete</a>
                </p>
            </form>
        </div>
    </div>
{% endblock %}