<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
  <table border="1">
      <thead>
          <tr>
              <th>Ім'я</th>
              <th>Прізвище</th>
              <th>Мобільний</th>
          </tr>
      </thead>
      {% if person_list %}
      {% for person in person_list %}
      <tr>
          <td><a href="{% url 'personSelect' person.id %}">{{person.name}}</a></td>
          <td>{{person.last_name}}</td>
          <td>{{person.phone}}</td>
      </tr>
      {% endfor %}
      {% endif %}
  </table>

  <form action="/addperson/">
      <button type="submit">Добавити</button>
  </form>
</body>
</html>