<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
  <table border="1">
      <thead>
          <tr>
              <th>Name</th>
              <th>Last name</th>
              <th>Phome</th>
          </tr>
      </thead>
      {% if person_list %}
      {% for person in person_list %}
      <tr>
          <td><a href="{% url 'person_select' person.id %}">{{person.name}}</a></td>
          <td><a href="{% url 'person_select' person.id %}">{{person.last_name}}</a></td>
          <td><a href="{% url 'person_select' person.id %}">{{person.phone}}</a></td>
      </tr>
      {% endfor %}
      {% endif %}
  </table>

  <form action="/newperson/">
      <button type="submit">Add</button>
  </form>
</body>
</html>